@charset "UTF-8";

 
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-arrows-ccw:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-download:before { content: '📥'; } /* '\1f4e5' */