.popup {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  color: white;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-animation: linear fade 2s;
  animation: forwards linear fade 2s;
  -moz-animation: linear fade 2s;
  -o-animation: linear fade 2s;
  z-index: 1000; }
  .popup p {
    margin: 0;
    font-size: 1.7em; }

@-webkit-keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-moz-keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-o-keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=variables.css.map */
