#albums {
    margin-bottom: 40px;

    .album-link {
        text-decoration: none;
        color: black;
        z-index: 200;
        position: relative;
    }

    .album-wrapper {
        display: flex;
        flex-direction: column;
        margin: 25px 0px 0px 0px;
        -webkit-box-shadow: 3px 3px 12px -1px rgba(133, 133, 133, 1);
        -moz-box-shadow: 3px 3px 12px -1px rgba(133, 133, 133, 1);
        box-shadow: 3px 3px 12px -1px rgba(133, 133, 133, 1);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .album-image-wrapper {
            display: flex;
            width: fit-content;

            img {
                width: 50%;
                height: 100px;
            }
        }


        .album-content-wrapper {
            background-color: $secondary;
            width: 100%;
            padding: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            .top-row {
                display: flex;

                .name-album {
                    margin: 0;
                    width: 100%;
                    font-size: $text-info-size;
                    font-weight: 600;
                }

                .icon-wrap {
                    display: flex;
                    justify-content: flex-end;
                    z-index: 500;
                    position: relative;

                    a {
                        text-decoration: none;
                        position: relative;
                        z-index: 200;

                        i {}
                    }
                }
            }

            .date-wrap {
                .date-album {
                    margin: 50px 0px 0px 0px;
                    color: darken($secondary, 50%);
                }
            }
        }
    }

    .add-items {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        background-color: $primary;
        transition: background-color .3s;
        cursor: pointer;
        position: fixed;

        right: 30px;
        bottom: 30px;

        &:before {
            content: "+";
            height: 80px;
            width: 80px;
            font-size: 80px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: white;
        }

        &:hover {
            background-color: darken($primary, 10%);
        }
    }
}

#view-album {
    .album-bar {
        display: flex;
        align-items: center;
        background-color: $primary;
        height: 90px;
        padding: 20px;
        margin-bottom: 25px;

        h1 {
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0px 15px 0px 0px;
        }

        i {
            display: flex;
            height: 100%;
            align-items: center;
            font-size: 1.3em;
        }
    }

    .album-bottom-bar {
        background: $secondary;
        position: absolute;
        bottom: 0;
        height: 120px;
        width: 100%;
        padding: 20px;

        .album-actions-info {
            $bottom-offset: 6px;
            display: flex;
            height: 50%;
            align-items: center;


            i {
                margin: 0px 5px 0px 0px;
            }

            i:not(:first-child) {
                margin: 0px 5px 0px 5px;
            }


            .date-album {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                margin: 0px 0px $bottom-offset 0px;
                font-size: $text-info-size;
                color: darken($secondary, 50%);
            }

            .icon-download {
                &:before {
                    font-size: 35px;
                    margin: 0;
                }
            }

            .add-photos {
                display: flex;
                height: 100%;

                &:before {
                    display: flex;
                    align-items: center;
                    content: "+";
                    height: 100%;
                    width: fit-content;
                    font-size: 70px;
                }
            }

            .delete-photos {
                display: flex;
                height: 100%;
                margin-bottom: $bottom-offset !important;

                &:before {
                    display: flex;
                    align-items: center;
                    content: "-";
                    height: 100%;
                    width: fit-content;
                    font-size: 70px;

                }
            }

            .share-photos {
                &:before {
                    font-size: 33px;
                    margin: 0;
                }
            }
        }

        .album-download-all {
            display: flex;
            height: 50%;
            margin-top: 10px;

            p {
                margin: 0;
                cursor: pointer;
                color: $primary;
            }

        }
    }

    .image-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding-top: 15px;
        // Use full screen height minus  both the bar heights combined
        max-height: calc(100vh - 235px);

        // Hide scrollbar for Chrome, Safari and Opera 
        &::-webkit-scrollbar {
            display: none;
        }

        .image_wrap {
            position: relative;

            .select-item {
                width: 30px;
                height: 30px;
                background: white;
                border-radius: 999px;
                position: absolute;
                right: 0;
                margin: 10px 10px 0px 0px;
                display: block;
                cursor: pointer;

                &.active-select-item {
                    background: $primary;
                }
            }

            .link-image {
                img {
                    -webkit-box-shadow: 3px 3px 12px -1px rgba(133, 133, 133, 1);
                    -moz-box-shadow: 3px 3px 12px -1px rgba(133, 133, 133, 1);
                    box-shadow: 3px 3px 12px -1px rgba(133, 133, 133, 1);
                    margin: 0px 6px 15px 6px;
                }
            }
        }
    }
}