#header {
    margin-bottom: 40px;

    .header-wrapper {
        background-color: $primary;
        padding: 20px;
        height: fit-content;

        .logo {
            height: 50px;
        }
    }

    .menu-wrapper {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;

        p {
            margin: 5px 0px 0px 0px;
            padding: 10px;
            background: white;
            border-radius: 999px;

        }

        ul {
            display: flex;
            overflow: hidden;
            margin: 5px 10px 0px 0px;
            height: 100%;
            align-items: center;

            li {
                list-style-type: none;
                transform: translateY(50px);
                transition: transform .4s;

                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}