#login,
#register {
    margin-top: 200px;

    .form-wrapper {
        width: 50%;
        background-color: $secondary;
        border-radius: 10px;
        padding: 10px;

        form {
            width: 100%;

            .form-group {
                width: 100%;
            }

            .control-label {
                font-size: 1.2em;
            }

            button {
                background-color: $primary;
                color: white;
            }
        }
    }
}